@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap');

:root {
    --headerpadding: 111px;
    --headerpadding4Tabs: 61px;
    --headerpadding4Fons: 28px;
}

body {
    margin: 0 auto 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    max-width: 1600px;
}

a {
    text-decoration: none;

}



header {
    padding-top: var(--headerpadding);
    height: calc(646px - var(--headerpadding));
    width: 1321px;
    background-color: #161616;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    background-image: url(assets/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: bottom right 79px;
    background-size: 581px 613px;
}

.bckgrnd-img {

    height: calc(646px - var(--headerpadding));
    width: 1321px;
}

.short-text-box {
    width: 506px;
    height: 78px;
    margin-top: 20px;
    margin-left: 111px;
}

.short-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin: 0 0 0 111px;
    padding-top: 5px;
    line-height: 1.15;
    width: 531px;
    height: 240px;
}

.btn {
    height: auto;
    width: 187px;
    background-color: coral;
    margin-top: 30px;
    margin-left: 111px;
    border-radius: 5px;
    border: 0;
    padding: 0;
}

.btn-txt {
    display: block;
    font-weight: 400;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1;
    width: fit-content;
    color: #fff;
}

main {
    margin: 130px auto 0 auto;
    max-width: 1321px;
    display: flex;
}

.opt-box {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 15px;
    display: block;
}

.opt {
    width: 252px;
    height: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #fff;
    border: 0;
    padding: 0;
    border-radius: 15px;
    margin: 30px 30px 0 30px;

}

.opt:hover {
    cursor: pointer;
}

#opt-selected {
    background-color: coral;
    color: #fff;
}

.content {
    margin-left: 24px;
    display: grid;
    grid: auto / 312px auto auto;
    gap: 24px 24px;
    padding: 0px;
    width: fit-content;
}

.blog {
    height: 362px;
    width: 312px;
    background-image: url(assets/Blog\ Image.png);
    background-position: top center;
    background-size: 312px 175px;
    background-repeat: no-repeat;
    background-color: #fff
}


.trns {
    margin: 195px 0 0 20px;
    padding: 0;
    height: 32px;
    width: 100px;
    border: solid 1px #161616;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    border-radius: 5px;

}

.des {
    margin: 15px 0 0 20px;
    padding: 0;
    color: black;
}

.ico {
    margin: 40px 0 0 20px;
    padding: 0;
    color: #161616c7;
}

.blog-upc {
    height: 242px;
    width: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}

.spc {
    height: 56.18px;
    width: 252px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 53 auto 0 auto;
}

.L {
    height: fit-content;
    margin: 0 17px 0 0;
}

.R {
    height: fit-content;
    margin: 0 10px 0 0;
}

span {
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin: 0 17px 0 0;
}

.vs {
    font-size: 25px;
    margin: 55px 0 0 20px;
    padding: 0;
    color: black;
}

.tme {
    margin: 30px 0 0 20px;
    padding: 0;
    color: #161616c7;
}

footer {
    margin: 130px auto 0 auto;
    max-width: 1600px;
    background-color: #161616;
}

h3 {
    padding-top: 130px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 0px auto;
}

ul {
    display: flex;
    margin: 0 auto 0 auto;
    width: fit-content;
    padding: 130px 0 130px 0;
}

li {
    list-style: none;
    padding: 0 30px 0 30px;
}

.hidden {

    display: none;
}

/* Media Qs */
/* Tablet View */

@media only screen and (min-width:688px) and (max-width:944px) {
    body {
        margin: 0 auto 0 auto;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        max-width: 834px;

    }

    header {
        padding-top: var(--headerpadding4Tabs);
        height: calc(398px - var(--headerpadding4Tabs));
        width: 734px;
        background-color: #161616;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border-radius: 25px;
        background-image: url(assets/Banner\ Image.png);
        background-repeat: no-repeat;
        background-position: bottom right 17px;
        background-size: 323px 340px;
    }

    .bckgrnd-img {
        height: calc(646px - var(--headerpadding4Tabs));
        width: 734px;
    }

    .short-text-box {
        width: 316px;
        height: 48px;
        margin-top: 10px;
        margin-left: 76px;
    }

    .short-text {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        width: 316px;
        height: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        margin: 0 0 0 76px;
        padding-top: 5px;
        line-height: 1.15;
        width: 289px;
        height: 150px;
    }

    .btn {
        height: auto;
        width: 168px;
        background-color: coral;
        margin-top: 20px;
        margin-left: 76px;
        border-radius: 5px;
        border: 0;
        padding: 0;
    }

    .btn-txt {
        display: block;
        font-weight: 400;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        line-height: 1;
        width: fit-content;
        color: #fff;
    }

    main {
        margin: 70px auto 0 auto;
        max-width: 734px;
        display: flex;
        flex-direction: column;
    }

    .opt-box {
        width: 734px;
        height: auto;
        border-radius: 15px;
        display: grid;
        grid: 64px/ auto auto auto;
        gap: 22px;
        background-color: #fff;
    }

    .opt {
        width: 230px;
        height: 64px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 20px;
        background-color: #fff;
        border: 0;
        padding: 0;
        border-radius: 20px;
        margin: 0;
    }

    #opt-selected {
        background-color: coral;
        color: #fff;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid: auto / 357px auto;
        gap: 20px;
        padding: 0px;
        width: fit-content;
        margin-top: 30px;
    }

    .blog {
        height: 414.21px;
        width: 357px;
        background-image: url(assets/Blog\ Image.png);
        background-position: top center;
        background-size: 357px 200.24px;
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
    }

    .trns {
        margin: 229px 0 0 22.8px;
        padding: 0;
        height: 38.62px;
        width: 115px;
        border: solid 1px #161616;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18.31px;
        background-color: #fff;
        border-radius: 5px;
    }

    .des {
        margin: 17.9px 0 0 22.8px;
        padding: 0;
        color: black;
    }

    .ico {
        margin: 21px 0 0 22.8px;
        padding: 0;
        color: #161616c7;
    }

    .blog-upc {
        height: 414.21px;
        width: 357px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px rgba(0, 0, 0, 0.192);
        border-radius: 10px;
    }

    .spc {
        height: 56.18px;
        width: 252px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 53 auto 0 auto;
    }

    .L {
        height: fit-content;
        margin: 0 17px 0 0;
    }

    .R {
        height: fit-content;
        margin: 0 10px 0 0;
    }

    span {
        color: black;
        font-weight: 700;
        font-size: 30px;
        margin: 0 17px 0 0;
    }

    .vs {
        font-size: 25px;
        margin: 55px 0 0 20px;
        padding: 0;
        color: black;
    }

    .tme {
        margin: 30px 0 0 20px;
        padding: 0;
        color: #161616c7;
    }


    footer {
        margin: 70px auto 0 auto;
        max-width: 834px;
        background-color: #161616;
    }

    h3 {
        padding-top: 70px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        width: fit-content;
        margin: 0 auto 0px auto;
    }

    ul {
        display: flex;
        margin: 0 auto 0 auto;
        width: fit-content;
        padding: 60px 0 25px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        list-style: none;
        padding: 0 30px 30px 30px;
    }

    .hidden {
        height: 47px;
        width: 131px;
        background-color: coral;
        font-size: 20px;
        color: #fff;
        margin: 50px auto 0 auto;
        visibility: visible;
        border-radius: 8px;
        text-align: center;
        line-height: 47px;
    }
}

/* phone View */
@media only screen and (min-width:0px) and (max-width:687px) {
    body {
        margin: 0 auto 0 auto;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        max-width: 375px;
    }

    header {
        padding-top: var(--headerpadding4Fons);
        height: calc(472px - var(--headerpadding4Fons));
        width: 334px;
        background-color: #161616;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        background-image: url(assets/Banner\ Image.png);
        background-repeat: no-repeat;
        background-position: bottom right 38px;
        background-size: 233px 245px;
    }

    .bckgrnd-img {
        height: calc(472px - var(--headerpadding4Fons));
        width: 334px;
    }

    .short-text-box {
        width: 258px;
        height: 48px;
        margin: 10px auto 0 auto;
    }

    .short-text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        margin: 0;
        width: 258px;
        height: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 22px;
        margin: 0 auto 0 auto;
        padding-top: 5px;
        line-height: 1.5;
        width: 228px;
        height: 66px;
        text-align: center;
    }

    .btn {
        height: auto;
        width: 138px;
        background-color: coral;
        margin: 16px auto 0 calc((334px - 138px) / 2);
        border-radius: 5px;
        border: 0;
        padding: 0;
        justify-self: center;
    }

    .btn-txt {
        display: block;
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        line-height: 1.65;
        width: fit-content;
        color: #fff;
        width: fit-content;
        padding: 0 12px 0 12px;
    }

    main {
        margin: 24px auto 0 auto;
        max-width: 334px;
        display: flex;
        flex-direction: column;
    }

    .opt-box {
        width: 334px;
        height: auto;
        border-radius: 15px;
        display: grid;
        grid: 64px;
        gap: 16px;
        justify-content: center;
        background-color: #fff;
    }

    .opt {
        width: 210px;
        height: 48px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 20px;
        background-color: #fff;
        border: 0;
        padding: 0;
        border-radius: 5px;
        margin: 0;
    }

    #opt-selected {
        background-color: coral;
        color: #fff;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        margin-top: 24px;
        grid: 389px / 335px;
        gap: 20px;
        padding: 0px;
        width: fit-content;
    }

    .blog {
        height: 389px;
        width: 335px;
        background-image: url(assets/Blog\ Image.png);
        background-position: top center;
        background-size: 335px 187.9px;
        background-repeat: no-repeat;
        background-color: #fff
    }

    .trns {
        margin: 212px 0 0 17.8px;
        padding: 0;
        height: 34.36px;
        width: 107.37px;
        border: solid 1px #161616;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18.31px;
        background-color: #fff;
        border-radius: 5px;
    }

    .des {
        margin: 17.9px auto 0 21.47px;
        padding: 0;
        height: 56px;
        width: 293px;
        color: black;
    }

    .ico {
        margin: 24px 0 0 21.47px;
        padding: 0;
        color: #161616c7;
    }

    .blog-upc {
        height: 389px;
        width: 335px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px rgba(0, 0, 0, 0.192);
        border-radius: 10px;
    }

    .spc {
        height: 56.18px;
        width: 252px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 53 auto 0 auto;
    }

    .L {
        height: fit-content;
        margin: 0 17px 0 0;
    }

    .R {
        height: fit-content;
        margin: 0 10px 0 0;
    }

    span {
        color: black;
        font-weight: 700;
        font-size: 30px;
        margin: 0 17px 0 0;
    }

    .vs {
        font-size: 25px;
        margin: 55px 0 0 20px;
        padding: 0;
        color: black;
    }

    .tme {
        margin: 30px 0 0 20px;
        padding: 0;
        color: #161616c7;
    }

    footer {
        margin: 25px auto 0 auto;
        max-width: 375px;
        background-color: #161616;
    }

    h3 {
        padding-top: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.7;
        width: fit-content;
        margin: 0 auto 0px auto;
    }

    ul {
        display: flex;
        margin: 0 auto 0 auto;
        width: fit-content;
        padding: 65px 0 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        list-style: none;
        padding: 0 0 28px 0;
        font-size: 14px;
        text-align: center;
    }

    .hidden {
        display: none;
    }
}